	
	#calendar {
		    max-width: 900px;
		    margin : 0px 400px;
	}
	body{
	    font-family: "Lato", sans-serif;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	#mainScreen {
		white-space: nowrap; 
		padding: 10px 10px 5px;
		background: #fff;
		width: 90%;
		position: absolute;
		margin-top:-30px;
		margin-left:70px;
		height: 90%;
		overflow-x: auto;
		overflow-y: hidden;
	}
	
	#content-md{
		height: 85%;
	}
	
	.listbox {
	    border:10px solid #fbedc8;
	    border-radius: 12px;
	    background-color: #fbedc8;
	    margin:10px;
	    width:300px;
	    float:left;
	    overflow-y: auto;
	    overflow-x: hidden;
	    position:relative;
	    max-height: 600px;
	}
	
	.listtitle{
		text-align:left;
	    font-weight:bold;
	    overflow: auto;
	    z-index: 2;
	}
	
	.card{
		margin-top:15px;
		border : 1px solid white;
	    border-radius: 8px;
	    background-color:white;
	    padding : 10px;
	}
	hr {
		clear: both;
	}
	.inputtext{
		background-color : transparent; 
		border:none; 
		outline:none;
		margin-left: 10px;
	}
	
